.page.theme_dark {
  --background-color: #000028;
  --font-color: #F1B2CE;
  --title-color: #DB00FF;
  --subtitle-color: var(--background-color);
  --desktop-title-shadow-color: var(--accent-color);
  --accent-color: #FF0070;
  --accent-color-theme: var(--accent-color);
  --hover-effect-color: rgba(255, 0, 112, 0.4);
  --font-family: IBM Plex mono;
  --cover-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decor {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root{
    --background-color: #000028;
    --font-color: #F1B2CE;
    --title-color: #DB00FF;
    --subtitle-color: var(--background-color);
    --desktop-title-shadow-color: var(--accent-color);
    --accent-color: #FF0070;
    --accent-color-theme: var(--accent-color);
    --hover-effect-color: rgba(255, 0, 112, 0.4);
    --font-family: 'IBM Plex mono';
    --cover-image: url(../images/cover-image-dark.png);
  }

  .header__decor {
    display: block;
  }
}