.page.theme_light {
  --background-color: #FFF1F7;
  --font-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: var(--font-color);
  --desktop-title-shadow-color: #FF0070;
  --accent-color: #FF8DCB;
  --accent-color-theme: var(--font-color);
  --hover-effect-color: rgba(50, 49, 45, 0.4);
  --font-family: 'IBM Plex mono';
  --cover-image: url(../images/cover-image-light.png);
}

.theme_light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  .header__decor {
    display: none;
  }
}
